/**
 * App.css
 * 
 * the primary style sheet for the application.
 * see also app-theme.scss
 */

 /* 
    theme colors - OLD
    ------------------------
    theme-white:    #FFFFFF,
    light-gray:     #D1D5DE,
    alt-light-gray: #f8f9fa,
    alt-lav-gray:   #dee2E6,
    lavendar-gray:  #B7B6C2,
    dark-gray:      #444054,
    darker-gray:    #3e3a4d,
    darkest-gray:   #312e3d,
    theme-black:    #221D23,
    theme-yellow:   #F4D35E,
*/

/* size specifier class for the logo
   appearing at the top on the navbar */
.primary-logo {
  height: 2.25em;
  padding: 0.1vmin;
}

.white-content {
    background: #292e33;
    color: white;
    border-color:white;
}

.black-content {
    background: #f8f9fa;
    color: black;
    border-color: black;
}
.btn-static {
    background-color: white;
    border: 1px solid lightgrey;
    cursor: default;
}
.text-left {
    text-align: left !important;
}
hr.class-1 {
    border-top: 10px solid;
    color: #212121;
}
hr.class-2 {
    border-top: 5px solid;
    color: #212121;
}



.rating-stars {
    font-size: 20px;
}

.ovr {
    overflow-x: auto;
    white-space: nowrap;
    gap: 10px;
    align-content: flex-start;
}

.tag-container{
    width: auto;
    white-space: nowrap;
    gap: 10px;
    align-content: flex-start;
    flex-direction: column;
}

.tag-block{
    display:inline-block;
	height: 70px;
	width: auto;
	background-color: #fff;
	border: none;
	background-position: center;
	background-size: cover;
	transition: all 0.2s ease-in-out !important;
    border-radius: 6px;
}